# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Blender
# =========================
*.blend1
*.blend2
*.blend3
*.blend?
*.blend@
*.bphys
*.bphyscache

# Auto save files
*.blend_autosave*
*.blend@
*.blend1~